body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: #fff;
}

.panel {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 20px;
}

.resizer {
  width: 5px;
  cursor: col-resize;
  background-color: #333;
}

.tabs-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #333;
}

.tab.active {
  background-color: #4caf50;
}

.tab-content {
  flex: 1;
}

.editable {
  border: 1px solid #333;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #2e2e2e;
  color: #ffffff;
  text-align: left;
  /* ensures the container is scrollable when the content is wider than the container's width */
  overflow-x: auto;
  white-space: nowrap;
}

.editable:empty:before {
  content: attr(data-placeholder);
  color: #666;
}

.editable[contenteditable]:focus {
  outline: none;
  border-color: #4caf50;
}

.tests-container {
  position: relative;
}

.test-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: #2e2e2e;
  border-radius: 4px;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #333;
  color: white;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px
}

.header-buttons {
  display: flex;
  gap: 10px; /* Adjust the gap between buttons as needed */
}

.form-container {
  display: flex;
  height: 100vh;
}

.test-header span:hover {
  cursor: pointer;
}

.container { /* assuming .container holds both .test-box and .test-icons */
  display: flex;
  position: relative;
  overflow-x: auto;
}

.CodeMirror {
  height: auto;
  white-space: normal; /* Prevents the editor from expanding */
  overflow: auto;   /* Allows scrolling when content exceeds width */
  overflow-x: scroll; /* Add this line */
}

.test-header {
  flex-grow: 1;
}

.test-entry {
  display: flex;
}

.test-box {
  flex-grow: 1;
  background-color: #263238;
  overflow-x: auto; /* or overflow: scroll, try both and see which one works best */
}

.icon {
  display: block;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.test-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;  /* This will allow the div to take up full width */
  text-align: center;    /* This will center the content of the div */
  position: relative;    /* Add this line */
  background-color: #2e2e2e;
}

.hide-icon {
  position: absolute;
  top: 30px;           /* Adjust this value to move the 'eye' icon up or down */
  cursor: pointer;
}

.single-line-json {
  text-indent: 10px;
  padding-top: 15px;
  text-align: left;
  height: 35px;
}

.add-icon {
  color: #90ee90; /* Light green color */
}

.remove-icon {
  cursor: pointer;
}

.description-editor {
  background-color: #2e2e2e;
  color: #ffffff;
  border-radius: 4px;
  margin-bottom: 10px;
}

.ql-toolbar.ql-snow {
  background: #333;
  border: none;
}

.ql-container.ql-snow {
  border: none;
  background-color: #2e2e2e;
  color: #ffffff;
}

.ql-editor {
  min-height: 200px;
  color: #ffffff;
}
